@{
    ViewData["Title"] = "Home Page";
}


<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/image/sofa.jpg">
            <div class="caption center-align">
                <h3>Renueva tu hogar</h3>
                <h5 class="light grey-text text-lighten-3">Compra articulos exclusivos para tu hogar!</h5>
            </div>
        </li>
        <li>
            <img src="~/image/vegetalesSlider.jpg">
            <div class="caption left-align">
                <h3>Vegetales frescos</h3>
                <h5 class="light grey-text text-lighten-3">La mejor distribuidora de vegetales en el pais</h5>
            </div>
        </li>
        <li>
            <img src="~/image/dumbbells.jpg">
            <div class="caption right-align">
                <h3>Ejercitate en la seguridad de tu hogar!</h3>
                <h5 class="light grey-text text-lighten-3">Articulos para el cuidado de tu salud.</h5>
            </div>
        </li>
        <li>
            <img src="~/image/ropaMale2.jpg">
            <div class="caption center-align">
                <h3>Viste a la moda!</h3>
                <h5 class="light grey-text text-lighten-3">Tenemos atuendos a la moda, para hombre y mujer.</h5>
            </div>
        </li>
    </ul>
</div>

<div class="Ccards">

    <div class="containerr">
        @*<h2 class="h2">Categorias</h2>*@
        <div class="card">
            <div class="circle">
                <div class="imgC">
                    <img src="~/image/escolares.jpg" style="width:100%; height:100%" />
                </div>
            </div>
            <div class="contentC">

                <p>
                    <h5 class="black-text">Escolares</h5>
                    Esta area de productos, esta en alta demanda en el mercado,
                    somos lideres en distribucion de este producto.
                </p>
                <a>Ver categoria</a>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgC">
                    <img src="~/image/carnes.jpg" style="width:100%; height:100%" />
                </div>
            </div>
            <div class="contentC">

                <p>
                    <h5 class="black-text">Carnes</h5>
                    Esta area de productos, esta en alta demanda en el mercado,
                    somos lideres en distribucion de este producto.
                </p>
                <a>Ver categoria</a>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgC">
                    <img src="~/image/cocina.jpg" style="width:100%; height:100%" />
                </div>
            </div>
            <div class="contentC">

                <p>
                    <h5 class="black-text">Cocina</h5>
                    Esta area de productos, esta en alta demanda en el mercado,
                    somos lideres en distribucion de este producto.
                </p>
                <a>Ver categoria</a>
            </div>
        </div>
    </div>
</div>

<ul class="collapsible" style="margin-top: -10%; ">
    <li>
        <div class="collapsible-header "style="background:#E5E7E9;" ><a>Ver mas categorias</a></div>
        <div class="collapsible-body">
            <div class="Ccards">
                <div class="CategB">
                    <div class="containerr">
                        @*<h2 class="h2">Categorias</h2>*@
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/graneria.jpg" style="width:100%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Graneria</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/desechables.jpg" style="width:110%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Desechables</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/hogar.jpg" style="width:100%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Hogar</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/panaderia.jpg" style="width:110%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Panaderia</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/mariscos.jpg" style="width:100%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Mariscos</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/higiene.jpeg" style="width:100%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Cuidado personal</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/limpieza.jpg" style="width:100%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Cuidado del hogar</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="circle">
                                <div class="imgC">
                                    <img src="~/image/vegetales.jpg" style="width:100%; height:100%" />
                                </div>
                            </div>
                            <div class="contentC">

                                <p>
                                    <h5 class="black-text">Frutas y vegetales</h5>
                                    Esta area de productos, esta en alta demanda en el mercado,
                                    somos lideres en distribucion de este producto.
                                </p>
                                <a>Ver categoria</a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </li>
   
</ul>











<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center  text-lighten-2 " >Bonos en compras!</h1>
            <div class="row center">
               
            </div>
            <div class="row center">
                <a href="" id="download-button" class="btn-large waves-effect waves-red  lighten-1" >Ver mas<i class="material-icons right">send</i></a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="~/image/tv.webp" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="medium fa fa-shopping-cart brown-text"></i></h2>
                    <h5 class="center">Ejemplo 1</h5>

                    <p class="light">Aqui se puede poner descripciones de productos o de alguna funcionalidad de el ecommerce, de manaera que pueda ser un poco mejor la UI y la experiencia del usuario.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="medium fa fa-shopping-bag brown-text"></i></h2>
                    <h5 class="center">Ejemplo 2</h5>

                    <p class="light">Aqui se puede poner descripciones de productos o de alguna funcionalidad de el ecommerce, de manaera que pueda ser un poco mejor la UI y la experiencia del usuario.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="medium fa fa-tags brown-text"></i></h2>
                    <h5 class="center">Ejemplo 3</h5>

                    <p class="light">Aqui se puede poner descripciones de productos o de alguna funcionalidad de el ecommerce, de manaera que pueda ser un poco mejor la UI y la experiencia del usuario.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row left-align  ">
                        <h5 class="header col s12 m-4 l8 darken-3">Los equipos informaticos mas potentes del mercado.</h5>
                    </div>
                </div>
            </div>
            <div class="parallax s12 m8 l8"><img src="~/image/pc.jpg" alt="Unsplashed background img 2"></div>
        </div>
    </div>
</div>

<div class="FBox">
    <div class="box">
        <div class="imgBX">
            <img src="~/image/blusa.jpg" />
        </div>
        <div class="content">
            <h2>Ropa<br><span>Ropa en todos los estilos, para hombre y para mujer.</span></h2>
        </div>
    </div>

</div>
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contactanos</h4>
                <p class="left-align light">Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.Aqui puede ir un texto sobre la aplicaacion, o cualqui contenido que se quiera poner, puede ser como contactarnos, sobre el proposito de la pagina, descripcion de productos, etc.</p>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems, {
                indicators: true,
                height: 500
            });
             var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);

            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);

             var elems = document.querySelectorAll('.tooltipped');
             var instances = M.Tooltip.init(elems);

        });
    </script>

}
